<h1>About us</h1>
<p>Clocks'R'Us started in the year 1900 as a humble furnature company in Walla Walla Washington, eventually expanding to Newport in 1943, and then
openeing further branches in Albuquerque and then expanding into Canada with branches all over the prairies.</p>
<p>For years our team has strived to bring you the best quality in fine wooden furnature and clockwork, and continue to do so well into the 2000's</p>


<p>Contact information:</p>
<ul>
<li>Phone: 204-222-222</li>
<li>Email: clocks@Clocksrus.biz</li>
<li>Store hours: Mon-Fri 8AM to 9PM Sat/Sun 11AM to 6PM</li>
</ul>