<h1>Recently Updated</h1>
<div class="columns">
<% @productsupdated.each do |product|%>
  <%= render partial: 'product',
             object: product,
             locals: {show_link: false } %>
<% end %>
<%= paginate @productsupdated%>
</div>